body{
    background: linear-gradient(to right, #bcbebe, #abacad);
    font-family: 'Poppins', sans-serif;
}

/* Heading */

.main-heading{
    font-size: 50px;
    font-weight: bold;
    color: #3b72a8;
    letter-spacing: 2px;
}

.sub-heading{
    color: #3e7db4;
    font-size: 20px;
    margin-top: 10px;
}

/* Filter Buttons */

.filter-btn{
    margin: 5px;
    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.3s;
}

.filter-btn:hover{
    transform: scale(1.05);
}

/* Gallery Images */

.gallery-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;

    transition: 0.4s;
}

/* Hover Effect */

.gallery-img:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

/* Lightbox */

.lightbox{
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.9);

    justify-content: center;
    align-items: center;

    z-index: 1000;
}

/* Lightbox Image */

#lightbox-img{
    width: 70%;
    border-radius: 10px;
}

/* Close Button */

.close-btn{
    position: absolute;
    top: 20px;
    right: 40px;

    font-size: 40px;
    color: white;

    cursor: pointer;
}

/* Previous and Next Buttons */

.prev-btn,
.next-btn{

    position: absolute;
    top: 50%;

    transform: translateY(-50%);

    background: white;
    border: none;

    font-size: 30px;

    padding: 10px 20px;

    cursor: pointer;

    border-radius: 50%;

    transition: 0.3s;
}

.prev-btn:hover,
.next-btn:hover{
    background: #dfe6e9;
}

.prev-btn{
    left: 30px;
}

.next-btn{
    right: 30px;
}

/* Responsive Design */

@media(max-width:768px){

    #lightbox-img{
        width: 90%;
    }

    .main-heading{
        font-size: 35px;
    }

    .sub-heading{
        font-size: 16px;
    }

}